.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 19px;

}
.border-rounded1 {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.1);
}
.fotocamion {
  box-sizing: content-box;
  height: 80px;
  padding-bottom: 35%;
  position: relative;
  width: 100%;
}

.truckpic {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

// .border-rounded1 {

// }


.card-image {
  box-sizing: content-box;
  height: 100%;
  padding-bottom: 35%;
  position: relative;
  width: 100%;
}

.card-image-inside {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.border-rounded1:hover {
  opacity: 85%;
  transform: scale(1.03)
}
